<!DOCTYPE html>
<html lang="en">
<head>
  <title>Зачет.ru</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1>Добро пожаловать!</h1>
  <p>Система выставления оценок студентам</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Добавить</h3>
      <p><a href="/AddStudent" class="design">Студент</a>
      <p><a href="/AddSubject" class="design">Дисциплина</a>
      <p><a href="/AddGroup" class="design">Группа</a>
      <p><a href="/AddMark" class="design">Оценка</a>
    </div>
    <div class="col-sm-4">
      <h3>Редактировать</h3>
      <p><a href="/UpdStudent" class="design">Студент</a>
      <p><a href="/UpdSubject" class="design">Дисциплина</a>
      <p><a href="/UpdGroup" class="design">Группа</a>
      <p><a href="/Update" class="design">Оценка</a>
    </div>
    <div class="col-sm-4">
      <h3>Просмотр</h3>
      <p><a href="/Select" class="design">Студент</a>
      <p><a href="SelectSub" class="design">Дисциплина</a>
    </div>
    </div>
</div>

</body>
</html>
